.items {
  position: relative;
  width: 600px;
  height: 400px;
  border: 2px solid black;
}

.item {
  width: 100px;
  height: 100px;
  background: dodgerblue;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  user-select: none;
  position: absolute; /* REQUIRED */
}
